
.commentscont{
  width: 600px;
  height: fit-content;
  margin: 0px auto;
  box-sizing: content-box;
}

.custom-form {
  width: 100%;
  margin: 0px auto;  
  color: white;
  text-shadow: 5px 5px 5px black;
  background-size: cover;
}

.inputForm{
  display: block;
  width: 95%;
  height: fit-content;
  max-height: 150px;
  margin: 2rem auto;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 0 1rem 1rem;
  background: #ebf5fc;
  color: black;
  font-size: 20px;
  font-family: FugazOne;
}

.titleform{
  display: flex;
  justify-content: center;
  font-family: FugazOne;
  font-size: 20px;
}

#sendButton{
  position: relative;
  width: fit-content;
  display: block;
  border: 1px solid red;
  border-left: 8px solid red;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  letter-spacing: 0.15em;
  font-size: 0.875rem;
  color: #bb0404;
  font-weight: bold;
  background-color: #00000093;
  padding: 0.575rem 1rem;
  margin: 0px auto;
  cursor: pointer;
  outline: none;
  font-family: FugazOne;
}

#sendButton:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

#sendButton:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}

.button-cancel{
  position: relative;
  display: block;
  width: fit-content;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px 20px;
  padding: 0.175rem 1rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 0.975rem;
  background-color: #00000093;
  font-family: FugazOne;
  background-color: #e7741693;
  border: 1px solid rgb(255, 145, 0);
  border-left: 8px solid rgb(255, 145, 0);
}

.button-cancel:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

.button-cancel:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}

@media screen and (max-width: 800px){
  
  .commentscont{
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
  }

  .custom-form {
    margin: 0px auto;
  }

  .inputForm{
    margin: 2rem auto;
    border-radius: 0.5rem;
    padding: 1rem -0.3rem 1rem 0rem;
    box-sizing: content-box;
  }

  .button-cancel{
    margin: 0px auto;
  }
}

.noComment{
  margin-top: 50px;
}

