.container{
  width: 100%;
  margin: 0px auto;
}

.detailcont{
  width: 100%;
  margin: 0px auto;
}

h1, h2{
  text-align: center;
  margin: 30px 0px;
  font-family: russoOne;
  font-size: 25px;
}

h2{
  margin: 10px;
}

.gamescont,.commentscont{
  width: 95%;
  height: fit-content;
  margin: 0px auto;
}

.imagedetail{
  width: 60%;
  margin: 0px auto;
} 

.imagedetail img{
  width: 100%;
  margin: 0px auto;
} 

.data{
  width: 47%;
  margin: 35px auto;
  text-align: center;
}

.description{
  width: 100%;
  text-align: justify;
  font-family: russoOne;
  font-size: 20px;
  line-height: 25px;
}

.button-edit,
.button-delete{
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  letter-spacing: 0.15em;
  font-size: 0.975rem;
  text-decoration: none;
  background-color: #00000093;
  margin: 0px 20px;
  padding: 0.175rem 1rem;
  cursor: pointer;
  outline: none;
}

.button-edit{
  background-color: #e7741693;
  border: 1px solid rgb(255, 145, 0);
  border-left: 8px solid rgb(255, 145, 0);
  font-family: FugazOne;
}

.button-delete{
  background-color: #99040493;
  border: 1px solid red;
  border-left: 8px solid red;
  font-family: FugazOne;
}

.editbuttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.button-edit:hover, .button-delete:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

.button-edit:active, .button-delete:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}

.custom-form {
  width: 50%;
  margin: 0px auto;
  color: white;
  text-shadow: 5px 5px 5px black;
  background-size: cover;
}

.inputForm{
  display: block;
  width: 95%;
  margin: 2rem auto;
  padding: 1rem 0 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background: #ebf5fc;
  color: black;
  font-size: 20px;
}

.titleform{
  display: flex;
  justify-content: center;
  text-align: center;
}

#sendButton{
  position: relative;
  display: block;
  width: fit-content;
  border: 1px solid red;
  border-left: 8px solid red;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 50px auto 0px;
  padding: 0.575rem 1rem;
  font-size: 0.975rem;
  letter-spacing: 0.15em;
  color: #bb0404;
  font-weight: bold;
  background-color: #00000093;
  cursor: pointer;
  outline: none;
  font-family: FugazOne;
}

#sendButton:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

#sendButton:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}

h3{
  font-size: 20px;
  margin-bottom: 7px;
  margin-top: 10px;
  font-family: FugazOne;
}

.date{
  font-size: 16px;
  color: rgb(117, 117, 117);
}

.commentBox{
  width: 50%;
  height: fit-content;
  margin: 20px auto;
}

.commentInd{
  width: 95%;
  margin: 0px auto;
  padding: 10px 10px;
  border-bottom: 1px solid red;
  box-sizing: border-box;
  font-family: FugazOne;
  font-size: 20px;
  line-height: 25px;
}

.textcomment{
  width: fit-content;
  margin-bottom: 20px;
  margin-top: 20px;
  left: 15px;
  text-align: justify;
}

.commentbuttons{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

#commentArea{
  position: absolute;
  z-index:-1;
  font-family: FugazOne;
  font-size: 20px;
  line-height: 25px;
}

#hidde,#hidde2{
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  padding:0px;
  z-index:3;
  top:14px;
  margin-bottom: 70px;
}

.noComment{
  margin-top: 0px;
  margin-left: 20px;
  display: block;
  font-family: FugazOne;
  font-size: 20px;
}


@media screen and (max-width: 800px){
  .imagedetail{
    width: 100%;
  } 
  
  .commentBox{
    width: 80%;
  }

  .custom-form{
    width:80%;
    min-width: none;
  }

  .data{
    width: 100%;
  }

  .commentbuttons, .editbuttons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-edit,
  .button-delete{
    margin: 5px auto;
  }
}