<div class="container" *ngIf="project">
    <div class="detailcont">
        <div class="gamescont">
            <h1>{{project.name}}</h1>
            <div class="imagedetail" *ngIf="project.image">
                <img src="{{url+'get-image/'+project.image}}"/>
            </div>

            <div class="data">

                <h2>Vehicles: {{project.category}}</h2>
                <h2>Available for: {{project.langs}}</h2>
                <br>
                <p class="description" *ngFor="let onetext of text">
                    {{onetext}}
                </p>
                
                <div *ngIf="TOKEN_STRING && role=='admin'">
                    <p *ngIf="confirm==false" >
                        <span class="editbuttons">
                            <a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">Edit</a>
                            <a (click)="setConfirm(true)" class="button-delete">Delete</a>
                        </span>
                    </p>
                    <p *ngIf="confirm==true" >
                        <span class="confirm">
                            Are you sure to delete this Article?<br/>
                        </span>
                        <span class="editbuttons">
                            <a (click)="setConfirm(false)" class="button-edit">Cancel</a>
                            <a (click)="deleteProject(project._id)" class="button-delete">Yes Delete!</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>


        <div class="commentscont">
            <h2>Comments</h2>

            <div class="message succes" *ngIf="staus=='succes'">
                Thanks
                {{comment.userName}}
                We have received your comment correctly!!!
            </div>

            <form class="custom-form" #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)">
                <div class="titleform">We want to know your opinion</div>
                <div>
                    <div id="hidde" (click)="commentDisabled(project._id)">
                        <textarea id="commentArea" class="inputForm" name="comment" #comment="ngModel" [(ngModel)]="comment.comment" placeholder="Comment" [disabled]="!userloged" required>
                        </textarea>
                    </div>
                    <span class="noComment" *ngIf="comment.touched && !comment.valid">
                        <strong>*Write something to save your comment</strong>
                    </span>
                </div>
                <input id="sendButton" type="submit" value="Enviar" [disabled]="!commentForm.form.valid"/>
            </form>

            <div class="commentBox">
                <div class="commentInd" *ngFor='let comment of comments'>
                    <h3>{{comment.userName}} | <span class="date">{{comment.date_comment |date:"mediumDate" }}</span></h3>
                    <p class="textcomment">{{comment.comment}}</p>
                    <div *ngIf="userloged">
                        <div *ngIf="comment.userName==userloged">
                            <p *ngIf="confirmDeleteComment=='cancel'" >
                                <span class="commentbuttons">
                                    <a (click)="openDialog(comment.comment, comment._id)" class="button-edit">Edit</a>
                                    <a (click)="setConfirmEraseComment(comment._id)" class="button-delete">Delete</a>
                                </span>
                            </p>
                            <p *ngIf="confirmDeleteComment==comment._id ">
                                <span class="confirm">
                                    ¿Are you sure you want to delete this comment?<br/>
                                </span>
                                <span class="commentbuttons">
                                    <a (click)="setConfirmEraseComment('cancel')" class="button-edit">Cancel</a>
                                    <a (click)="deleteComment(comment._id)" class="button-delete">Yes Delete!</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

