<div class="container" *ngIf="project">
    <div class="detailcont">
        <div class="gamescont">
            <h1>{{project.name}}</h1>
            <div class="imagedetail" *ngIf="project.image">
                <img src="{{url+'get-image/'+project.image}}"/>
            </div>

            <div class="data">
            

                <p>Tipo de Vehiculos: {{project.category}}</p>
                <p>Disponible en: {{project.langs}}</p>
                <br>
                <p class="description">{{project.description}}</p>
                

                <div *ngIf="TOKEN_STRING && role=='admin'">
                    <p *ngIf="confirm==false" >
                        <span class="editbuttons">
                            <a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">Editar</a>
                            <a (click)="setConfirm(true)" class="button-delete">Borrar</a>
                        </span>
                    </p>
                    <p *ngIf="confirm==true" >
                        <span class="confirm">
                            ¿Estas seguro de ELIMINAR este Articulo?<br/>
                        </span>
                        <span class="editbuttons">
                            <a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
                            <a (click)="deleteProject(project._id)" class="button-delete">Eliminar definitivamente</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>


        <div class="commentscont">
            <h2>Comentarios</h2>


            <div class="message succes" *ngIf="staus=='succes'">
                Gracias
                {{comment.userName}}
                Hemos recibido tu Comentario Correctamente!!!
            </div>




           <form class="custom-form" #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)">
            <div class="titleform">Queremos saber tu Opinion</div>
                    <p>
                        
                        <textarea class="inputForm" name="comment" #comment="ngModel" [(ngModel)]="comment.comment" placeholder="Comentario" required>
                        </textarea>
                        <span class="form_error" *ngIf="comment.touched && !comment.valid">
                            <strong>*Escribe algo para guardar tu comentario</strong>
                        </span>
                    </p>

                <input id="sendButton" type="submit" value="Enviar" [disabled]="!commentForm.form.valid"/>

            </form>



           

           
            <div class="commentBox">
                <div class="commentInd" *ngFor='let comment of comments'>
                    <h3>{{comment.userName}} | <span class="date">{{comment.date_comment |date:"mediumDate" }}</span></h3>
                    
                    <p class="textcomment">{{comment.comment}}</p>


                    <div *ngIf="comment.userName==userloged">
                        <p *ngIf="confirmDeleteComment=='cancel'" >
                            <span class="commentbuttons">
                                <a (click)="openDialog(comment.comment, comment._id)" class="button-edit">Editar</a>
                                <a (click)="setConfirmEraseComment(comment._id)" class="button-delete">Borrar</a>
                            </span>
                        </p>
                        <p *ngIf="confirmDeleteComment==comment._id " >
                            <span class="confirm">
                                ¿Estas seguro de ELIMINAR este Comentario?<br/>
                            </span>
                            <span class="commentbuttons">
                                <a (click)="setConfirmEraseComment('cancel')" class="button-edit">Cancelar</a>
                                <a (click)="deleteComment(comment._id)" class="button-delete">Eliminar definitivamente</a>
                            </span>
                        </p>
                    </div>


                </div>

            </div>


           
             <h3>Componente Padre</h3>
            
    </div>
</div>

