<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>

</div>


<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Vivamus euismod tortor felis. Etiam at erat varius, euismod 
        augue sed, finibus nisl. Nunc feugiat turpis ut iaculis 
        placerat. Fusce at lorem tempor nibh ullamcorper vehicula 
        nec sed eros. Pellentesque ut lacus diam. Ut molestie neque 
        sem, tincidunt dapibus ex elementum non. Phasellus nec ipsum 
        sit amet nibh dignissim aliquet. Quisque tortor augue, luctus 
        sit amet gravida eu, aliquam pretium quam. Sed rutrum arcu 
        fermentum risus aliquet auctor. Vestibulum id dolor cursus 
        felis ultrices tincidunt. Praesent mattis mauris ac nisl posuere, 
        id imperdiet sapien lobortis. Nam nec viverra mauris. Vestibulum 
        sed ultricies leo. Nulla dui mauris, aliquet ut congue ac, dapibus 
        to. Praesent porttitor dolor libero, sit amet maximus enim interdum id.
    </p>

    <section id="newsection"></section>

</article>