.create{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.detailcont{
  min-width: 300px;
  width: 50%;
  max-width: 500px;
  color: white;
  margin: 0px auto;
}

#actual, #last{
  width: fit-content;
  color: rgb(219, 217, 217);
  background-color: rgba(126, 0, 0, 0.692);
  border-radius: 5px;
}

h2{
  margin: 10px 0px 30px;
  text-align: center;
  font-size: 20px;
}

.custom-form {
  min-width: 300px;
  width: 100%;
  margin: 20px auto 0px;
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  box-shadow: 13px 13px 20px #fc0000, -13px -13px 20px #042b72;
  box-sizing: border-box;
  color: white;
  text-shadow: 5px 5px 5px black;
  background-image: url(../../../assets/img/flag.jpg);
  background-size: cover;
}

.inputForm{
  display: block;
  width: 95%;
  margin: 2rem 0;
  padding: 1rem 0 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background: #ebf5fc;
  color: black;
}


.sendButton{
  position: relative;
  display: block;
  width: fit-content;
  border: 1px solid red;
  border-left: 8px solid red;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  letter-spacing: 0.15em;
  font-size: 0.875rem;
  color: #bb0404;
  font-weight: bold;
  background-color: #00000093;
  padding: 0rem 2rem;
  margin: 0px 5px;
  cursor: pointer;
  outline: none;
}

.sendButton:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

.sendButton:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}

.labelyear{
  color: black;
}

.year{
  margin-top: 5px;
}

.actualimage{
  width: 100%;
}

input[type=file]#image {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  z-index: -1;
}

label[for="image"] {
  position: relative;
  display: block;
  width: fit-content;
  height: 20px;
  border: 1px solid red;
  border-left: 8px solid red;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 20px auto;
  padding: 15px !important;
  letter-spacing: 0.15em;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #bb0404;
  background-color: #00000093;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.indicador{
  width: 150px;
  max-width: 200px;
  margin: 0px auto;
  overflow: hidden;
}

#preview{
  width: 100%;
}

.imgprev{
  width: 100px !important;
}

.editbuttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.button-cancel{
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px 20px;
  padding: 0.175rem 1rem;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 0.975rem;
  background-color: #00000093;
  cursor: pointer;
  outline: none;
}

.button-cancel{
  width: fit-content;
  background-color: #e7741693;
  border: 1px solid rgb(255, 145, 0);
  border-left: 8px solid rgb(255, 145, 0);
}

.button-cancel:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

.button-cancel:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}
