h1{
  font-family: bangers;
  letter-spacing: 2px;
}

.container{
  width: 100%;
  margin: 0px auto;
}

.detailcont{
  width: 100%;
  margin: 0px auto;
  border: 1px solid red;
}

.register{
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}

.custom-form {
  width: 50%;
  max-width: 500px;
  margin: 20px auto 0px;
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  box-shadow: 13px 13px 20px #fc0000, -13px -13px 20px #042b72;
  color: white;
  text-shadow: 5px 5px 5px black;
  background-image: url(../../../assets/img/flag.jpg);
  background-size: cover;
}

.inputForm{
  display: block;
  width: 95%;
  margin: 2rem 0;
  padding: 1rem 0 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background: #ebf5fc;
  color: black;
  font-family: russoOne;
  letter-spacing: 2px;
}

.sendButton{
  position: relative;
  display: block;
  width: fit-content;
  border: 1px solid red;
  border-left: 8px solid red;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: bold;
  font-size: 0.875rem;
  color: #bb0404;
  cursor: pointer; 
  background-color: #00000093;
  padding: 0.575rem 1rem;
  margin: 0px auto;
  outline: none;
}

.sendButton:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

.sendButton:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}


@media screen and (max-width: 370px){

  .custom-form {
    width: 100%;
    max-width: none;
    box-sizing: border-box;
    padding: 1rem 2rem;
  }

  .register{
    width: 90%;
  }

}