<div class="register" *ngIf="register">


    <div class="message success" *ngIf="status=='success'">
        El Registro se ha creado Correctamente.
    </div>
    
    <div class="message failed" *ngIf="status=='failed'">
        El Registro NO SE HA PODIDO CREAR
    </div>



    <form class="custom-form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

        <h1>Registro</h1>

        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="register.name" placeholder="Nombre" required/>
        <span class="form_error" *ngIf="name.touched && !name.valid">
            <strong>*El Nombre es Obligatorio</strong>
        </span>

        <label for="lastName">LastName</label>
        <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="register.lastName" placeholder="Apellido" required/>
        <span class="form_error" *ngIf="lastName.touched && !lastName.valid">
            <strong>*El Nombre es Obligatorio</strong>
        </span>

        <label for="email">Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="register.email" placeholder="Email" required/>
        <span class="form_error" *ngIf="email.touched && !email.valid">
            <strong>*El Nombre es Obligatorio</strong>
        </span>
          
        
        <input type="hidden" name="role" #name="ngModel" [(ngModel)]="register.role" placeholder="role"/>
        
        <label for="password">Password</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="register.password" placeholder="Password" required/>
        <span class="form_error" *ngIf="password.touched && !password.valid">
            <strong>*El Nombre es Obligatorio</strong>
        </span>

        <label for="confirmPassword">Confirmar Password</label>
        <input type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="register.confirmPassword" placeholder="confirmPassword" required/>
        <span class="form_error" *ngIf="confirmPassword.touched && !confirmPassword.valid">
            <strong>*El Nombre es Obligatorio</strong>
        </span>

        <input type="submit" value="Enviar" [disabled]="!registerForm.form.valid"/>


    </form>




</div>