


<div class="register">

    <form class="custom-form" action="" method="POST" #registerForm="ngForm">

        <h1>Registro</h1>

        <input 
            type="text"
            [(ngModel)]="name"
            name="name"
            placeholder="Nombre"
            required
        />
        <input 
            type="text"
            [(ngModel)]="lastName"
            name="lastname"
            placeholder="Apellido"
            required
        />
        <input 
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            required
        />
        <input 
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="password"
            required
        />
        <input 
            type="password"
            [(ngModel)]="confirmPassword"
            name="password"
            placeholder="Confirmar Password"
            required
        />

        <button type="submit" (click)="register()">Registro</button>


    </form>




</div>