<!--Imputs y Outputs-->
<!--En este caso Contact es el componente "Padre" de Slider "Hijo"-->
Slider: <strong>{{anchura}}</strong> <!--anchura viene del contact.component.ts "padre"-->
Captions: <strong>{{captions}}</strong> 


    <div class="galeria">
        <div><img src="assets/img/01.jpg"  title="Angel"></div>
        <div><img src="assets/img/02.jpg" title="Athena"></div>
        <div><img src="assets/img/03.jpg" title="Blue Mary"></div>
        <div><img src="assets/img/04.jpg" title="Iori Yagami"></div>
        <div><img src="assets/img/05.jpg" title="K9999"></div>
        <div><img src="assets/img/06.jpg" title="K' Dash"></div>
        <div><img src="assets/img/07.jpg" title="Kula"></div>
        <div><img src="assets/img/08.jpg" title="Kyo"></div>
        <div><img src="assets/img/09.jpg" title="Leona"></div>
        <div><img src="assets/img/010.jpg" title="Shermi"></div>
        <div><img src="assets/img/011.jpg" title="Vannesa"></div>
        <div><img src="assets/img/012.jpg" title="Yashiro"></div>
    </div>


    <button (click)="lanzar($event)">Conseguir autor</button><br/>
