<!--Imputs y Outputs-->
<!--En este caso Contact es el componente "Padre" de Slider "Hijo"-->

<div id="slider">
    <div class="bxslider">
        <div><img class="imgslider" src="assets/img/Burnout/01.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Burnout/02.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Burnout/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Burnout/04.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Burnout/05.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/crashCTR/01.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/crashCTR/02.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/crashCTR/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/crashCTR/04.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/crashCTR/05.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/forza/01.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/forza/02.png"  title="" /></div>
        <div><img class="imgslider" src="assets/img/forza/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/forza/04.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/forza/05.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Fzero/01.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Fzero/02.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Fzero/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Fzero/04.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/Fzero/05.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/MarioKart/01.jpeg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/MarioKart/02.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/MarioKart/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/MarioKart/04.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/MarioKart/05.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/mostWanted/01.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/mostWanted/02.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/mostWanted/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/mostWanted/04.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/mostWanted/05.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/NFSU2/01.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/NFSU2/02.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/NFSU2/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/NFSU2/06.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/NFSU2/05.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/starwars/01.jpeg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/starwars/02.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/starwars/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/starwars/04.png"  title="" /></div>
        <div><img class="imgslider" src="assets/img/starwars/05.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/wipeout/01.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/wipeout/02.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/wipeout/03.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/wipeout/04.jpg"  title="" /></div>
        <div><img class="imgslider" src="assets/img/wipeout/06.jpg"  title="" /></div>
        
    </div>
</div>

    
