<div class="create" *ngIf="project && TOKEN_STRING && role=='admin'" >

    <div class="detailcont">
        <h2>{{title}}</h2>
     
        <div class="message failed" *ngIf="status=='failed'">
            The article could not be created.
        </div>


        <form class="custom-form" #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
            <p>
                <input class="inputForm" type="text" name="name" #name="ngModel" [(ngModel)]="project.name" placeholder="Game" required/>
                <span class="form_error" *ngIf="name.touched && !name.valid">
                    <strong>*Name is required</strong>
                </span>
            </p>
            <p>
                <textarea class="inputForm" name="description" #description="ngModel" [(ngModel)]="project.description" placeholder="Description" required>
                </textarea>
                <span class="form_error" *ngIf="description.touched && !description.valid">
                    <strong>*Description is required</strong>
                </span>
            </p>
            <p>
                <input class="inputForm" type="text" name="category" #category="ngModel" [(ngModel)]="project.category" placeholder="Type of Vehicle" required/>
                <span class="form_error" *ngIf="category.touched && !category.valid">
                    <strong>*Type of Vehicle is required</strong>
                </span>
            </p>
            <p>
                <input class="inputForm year" type="number" name="year" #year="ngModel" [(ngModel)]="project.year" placeholder="Year of launch:"/>
            </p>
            <p>
                <input class="inputForm" type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" placeholder="Available for:" required/>
                <span class="form_error" *ngIf="langs.touched && !langs.valid">
                    <strong>*Availability is required</strong>
                </span>
            </p>
            <div>
                <p id="actual"></p>
                <span class="actualimagecont" *ngIf="project.image" style="float:none;">
                    <img class="actualimage" src="{{url+'get-image/'+project.image}}"/>
                </span>
            </div>

            <p id="last"></p> 

            <div id="preview"></div>

            <span class="image">
                <input type="file" name="image" id="image" class="fileup" (change)="fileChangeEvent($event)"/>
            </span>

            <label for="image">
                <div class="indicador"><span>Upload Image</span></div>
            </label> 

            <span class="editbuttons">
                <div *ngIf="project._id" [routerLink]="['/proyecto', project._id]" class="button-cancel">Cancel</div>
                <input class="sendButton" type="submit" value="Enviar" [disabled]="!projectForm.form.valid"/>
            </span>
        </form>
    </div>
</div>