.container{
    width: 100%;
    margin: 0px auto;
    background: url(../../../assets/img/images/back10.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.detailcont{
    width: 100%;
    margin: 0px auto;
}

h2{
    margin: 0px 0px 30px;
    padding-top: 20px;
    font-family: russoOne;
    text-align: center;
    font-size: 30px;
    color: yellowgreen;
}

h3{
    margin: 0px;
    margin-top: 10px;
    font-family: russoOne;
    font-size: 20px;
    line-height: 24px;
}

p{
    margin-top: 10px;
    font-family: russoOne;
    font-size: 15px;
}

.gamescont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 95%;
    height: fit-content;
    margin: 0px auto;
}

.project{
    width: 50%;
    min-width: 400px;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.project:hover{
    box-shadow: 0 0 30px 10px yellowgreen;
}

.project .image{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.gameImg{
    display: block;
    width: 100%;
    transition: all 1s;
}

.gameImg:hover{
    transform: scale(1.5);
}

.project a{
    width: 100%;
    text-decoration: none;
    color: black;
}

.project h3:hover, .project p:hover{
    color: yellowgreen;
}

@media screen and (max-width: 800px){
    .project{
        min-width: 280px;
    }
}