.container{
    width: 100%;
    margin: 0px auto;
}

.detailcont{
    width: 100%;
    margin: 0px auto;
}

h2{
    text-align: center;
    margin: 10px 0px 30px;
    font-size: 30px;
}

h3{
    margin-top: 10px;
}

.gamescont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 95%;
    height: fit-content;
    margin: 0px auto;
}

.project{
    width: 30%;
    min-width: 400px;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.project .image{
    width: 100%;
    overflow: hidden;
}

.project img{
    display: block;
    width: 100%;
}

.project a{
    width: 100%;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px){
    .project{
        min-width: 280px;
    }
}