.container{
    width: 100%;
    margin: 0px auto;
}

.detailcont{
    width: 100%;
    margin: 0px auto;
}

h2{
    font-family: russoOne;
    text-align: center;
    margin: 10px 0px 30px;
    font-size: 30px;
}

h3{
    margin: 0px;
    margin-top: 10px;
    font-family: russoOne;
    font-size: 20px;
    line-height: 24px;
}

p{
    margin-top: 10px;
    font-family: russoOne;
    font-size: 15px;
}

.gamescont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 95%;
    height: fit-content;
    margin: 0px auto;
}

.project{
    width: 50%;
    min-width: 400px;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}

.project .image{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gameImg{
    display: block;
    width: 100%;
    transition: all 1s;
}

.gameImg:hover{
    transform: scale(1.5);
}

.project a{
    width: 100%;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px){
    .project{
        min-width: 280px;
    }
}