
<header>
  <ul>
    <!--<li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>-->
    <li id="inicio"><a href="#">Inicio</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    <li><a [routerLink]="['/login']" [routerLinkActive]="['actived']">Log In</a></li>
    <li><a [routerLink]="['/register']" [routerLinkActive]="['actived']">Registro</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en JavaScript - Proyecto Angular
</footer>



