
<header>
  <ul>
    <!--<li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>-->
    <li id="inicio"><a href="#">Main</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Games</a></li>
    <li *ngIf="TOKEN_STRING && role=='admin'"><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Add Game</a></li>
    <li><a [routerLink]="['/gallery']" [routerLinkActive]="['actived']">Gallery</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contact</a></li>
    <li *ngIf="!TOKEN_STRING"><a [routerLink]="['/login']" [routerLinkActive]="['actived']">Log In</a></li>
    <li *ngIf="!TOKEN_STRING"><a [routerLink]="['/register']" [routerLinkActive]="['actived']">Sign up</a></li>
    <li *ngIf="TOKEN_STRING"><a (click)="logout()">Log Out</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en JavaScript - Proyecto Angular
</footer>



