
<header>
  <app-main-nav>
    <div id="transparentWall">
      <img id="pngmenu" src="https://raw.githubusercontent.com/UlisesVil/TopRacingGames/main/src/assets/img/car2.png" style="display:none">
    </div>
  </app-main-nav>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  <div>
    <span> MEAN Stack Project Developed and designed by <a href="mailto:ulisesvil5@hotmail.com" title="E-mail me"> Ulises Villa </a>. ©</span>
    2021
    <span>. All rights reserved</span>
  </div>
</footer>



