<div id="login">

    <div class="message success" *ngIf="status=='success'">
        Te has Logueado correctamente "Bienvenido"
        <p>{{register.name}}</p>
        <p>{{myname}}</p>
        <p>{{username}}</p>
    </div>
    
    <div class="message failed" *ngIf="status=='failed'">
        Fallo intentando loguearte
    </div>

    <form class="custom-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <h1>Login</h1>

        <input class="inputForm" type="email" name="email" #email="ngModel" [(ngModel)]="register.email" placeholder="Email" required/>
        <span class="form_error" *ngIf="email.touched && !email.valid">
            <strong>*El E-mail es Obligatorio</strong>
        </span>
          
        <input class="inputForm" type="hidden" name="role" #name="ngModel" [(ngModel)]="register.role" placeholder="role"/>
        
        <input class="inputForm" type="password" name="password" #password="ngModel" [(ngModel)]="register.password" placeholder="Password" required/>
        <span class="form_error" *ngIf="password.touched && !password.valid">
            <strong>*El Password es Obligatorio</strong>
        </span>

        <input class="inputForm" type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="register.confirmPassword" placeholder="Confirm Password" required/>
        <span class="form_error" *ngIf="confirmPassword.touched && !confirmPassword.valid">
            <strong>*Debes Confirmar tu Password</strong>
        </span>

        <input id="sendButton" type="submit" value="3... 2... 1... Go!!!" [disabled]="!loginForm.form.valid || password.value !== confirmPassword.value"/>
    </form>

</div>