<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button
        id="buttonNav2"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <ul class="ulNav">
        <li class="liNav" (click)="drawer.toggle()" id="inicio"><a class="linkNav" href="#">Main</a></li>
        <li class="liNav" (click)="drawer.toggle()"><a class="linkNav" [routerLink]="['/proyectos']" [routerLinkActive]="['actived']" >Games</a></li>
        <li class="liNav" (click)="drawer.toggle()" *ngIf="TOKEN_STRING && role=='admin'"><a class="linkNav" [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Add Game</a></li>
        <li class="liNav" (click)="drawer.toggle()"><a class="linkNav" [routerLink]="['/gallery']" [routerLinkActive]="['actived']">Gallery</a></li>
        <li class="liNav" (click)="drawer.toggle()" *ngIf="!TOKEN_STRING"><a class="linkNav" [routerLink]="['/login']" [routerLinkActive]="['actived']">Log In</a></li>
        <li class="liNav" (click)="drawer.toggle()" *ngIf="!TOKEN_STRING"><a class="linkNav" [routerLink]="['/register']" [routerLinkActive]="['actived']">Sign up</a></li>
        <li class="liNav" (click)="drawer.toggle()" *ngIf="TOKEN_STRING"><a class="linkNav" (click)="logout()">Log Out</a></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button
        id="buttonNav"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle(); transparentwallOff()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <ul class="ulToolbar">
        <li class="liToolbar" id="inicio"><a class="linkToolbar" [routerLink]="['/main']" [routerLinkActive]="['actived']">Main</a></li>
        <li class="liToolbar"><a class="linkToolbar" [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Games</a></li>
        <li class="liToolbar" *ngIf="TOKEN_STRING && role=='admin'"><a class="linkToolbar" [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Add Game</a></li>
        <li class="liToolbar"><a class="linkToolbar" [routerLink]="['/gallery']" [routerLinkActive]="['actived']">Gallery</a></li>
        <li class="liToolbar" *ngIf="!TOKEN_STRING"><a class="linkToolbar" [routerLink]="['/login']" [routerLinkActive]="['actived']">Log In</a></li>
        <li class="liToolbar" *ngIf="!TOKEN_STRING"><a class="linkToolbar" [routerLink]="['/register']" [routerLinkActive]="['actived']">Sign up</a></li>
        <li class="liToolbar" *ngIf="TOKEN_STRING"><a class="linkToolbar" (click)="logout()">Log Out</a></li>
      </ul>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
