<div class="message">
    {{data.message}}
</div>

<form class="custom-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <h1>Login:</h1>

    <input class="inputForm" type="hidden" name="projectId" #projectId="ngModel" [(ngModel)]="data.projectId" required/>

    <input class="inputForm" type="email" name="email" #email="ngModel" [(ngModel)]="register.email" placeholder="Email" required/>
    <span class="form_error" *ngIf="email.touched && !email.valid">
        <strong>*El E-mail es Obligatorio</strong>
    </span>   
    
    <input class="inputForm" type="hidden" name="role" #name="ngModel" [(ngModel)]="register.role" placeholder="role"/>
    
    <input class="inputForm" type="password" name="password" #password="ngModel" [(ngModel)]="register.password" placeholder="Password" required/>
    <span class="form_error" *ngIf="password.touched && !password.valid">
        <strong>*El Password es Obligatorio</strong>
    </span>

    <input class="inputForm" type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="register.confirmPassword" placeholder="confirmPassword" required/>
    <span class="form_error" *ngIf="confirmPassword.touched && !confirmPassword.valid">
        <strong>*Debes Confirmar tu Password</strong>
    </span>

    <input id="sendButtonform" type="submit" value="Go!!!" [disabled]="!loginForm.form.valid || password.value !== confirmPassword.value"/>
</form>

<div mat-dialog-actions>
    <button class="button-cancel" (click)="onClickNO()">No Thanks!!</button>
</div>