.message{
  width: 98%;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  border: none;
}

h1{
  margin-bottom: 0px;
}

.inputForm{
  display: block;
  width: 95%;
  margin: 2rem 0;
  padding: 1rem 0 1rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background: #ebf5fc;
  color: black;
}
  
#sendButtonform{
  position: relative;
  display: block;
  width: fit-content;
  border: 1px solid red;
  border-left: 8px solid red;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px auto;
  padding: 0.575rem 1rem;
  font-size: 0.875rem;
  color: #bb0404;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  background-color: #00000093;
  cursor: pointer;
  outline: none;
}

#sendButtonform:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

#sendButtonform:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}

.button-cancel{
  position: relative;
  display: block;
  width: fit-content;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px auto;
  padding: 0.175rem 1rem;
  cursor: pointer;
  outline: none;
  font-size: 0.975rem;
  text-decoration: none;
  letter-spacing: 0.15em;
  background-color: #00000093;
}

.button-cancel{
  background-color: #e7741693;
  border: 1px solid rgb(255, 145, 0);
  border-left: 8px solid rgb(255, 145, 0);  
}

.button-cancel:hover{
  top: -3px;
  box-shadow: 0px 0px 20px red;
}

.button-cancel:active{
  top: 2px;
  box-shadow: 0px 0px 20px rgb(11, 2, 143);
}