<div id="videoMain">
    <div id="title">
        <div class="titleContent">
            <p class="text">Welcome to my</p>
            <p class="text">Top Racing Games</p>
            <p class="text">Ready?</p>
            <div id="elements">
                <p class="scrollme">Scroll Me to play</p>
                <img id="scroll" src="assets/img/Scroll.gif" >
            </div>
         </div>
    </div>

    <div id="positiondiv">
        <video id="videoIntro" src="assets/video/FzeroIntro.mp4"></video>
    </div>
</div>
