#videoMain{
    width: 98%;
    height: fit-content;
    min-height: 8000px;
}

#title{
    width: 100%;
    position: absolute;
    background-color: rgba(39,0,0,.7);
    top: 46px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: SigmarOne;
    font-size: 40px;
    z-index: 3;
}

.titleContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    margin: 10px auto;
}

.titleContent p{
    width: fit-content;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(10, 2, 2);
}

.text{
    margin: 0px auto;
    font-size: 60px;
}

#videoIntro{
    position: fixed;
    width: 100%;
    background-attachment: fixed;
    outline: none;
    top: 49px;
    z-index: -1;
}

#positiondiv{
    position: fixed;
    width: 100%;
    min-width: fit-content;
    height: 200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

#elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: fit-content;
    margin: 0px auto ;
    left: 0;
    right: 0;
    z-index: 2;
}

.scrollme{
    font-size: 30px;
}

#positiondiv p{
    text-align: center;
    font-size: 20px;
}

#scroll{
    display: block;
    width: 50%;
    margin: 0 auto;
}

.message{
    z-index: 4;
}

@media screen and (max-width: 1000px){

    .text{
        font-size: 40px;
    }

    .scrollme{
        font-size: 15px;
    }
}

@media screen and (max-width: 800px){

    .text{
        font-size: 30px;
    }

    .titleContent{
        margin: 20px auto 30px;
    }
}

@media screen and (max-width: 600px){

    .text{
        font-size: 20px;       
    }

    .scrollme{
        font-size: 10px;
    }
}

@media screen and (max-width: 400px){

    .text{
        font-size: 15px;       
    }

    .scrollme{
        font-size: 7px;
    }

    .titleContent{    
        margin: 10px auto 40px;
    }
}
