#videoMain{
    width: 100%;
    min-height: 10500px;
}


#videoIntro{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
    outline: none;
   

}


#positiondiv{
    position: absolute;
    width: 100%;
    height: 300px;
    background: transparent;
    margin-top: 100px;
    z-index: 2;
}

